 .homePage{
    background-image: url("../../public/bg/3.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%; 
    min-height: 95vh;

} 

.homeTitle {
    font-size: 100px;
    padding-top: 30vh;
}