.container {
    font-family: consolas;
}

.headProfile {
 display: flex;
 flex-wrap: wrap;
}


.prof-title {
    margin: 10px;
}

.collab {
    width: 70px;
    height: 70px;
    background-image: linear-gradient(rgba(141, 100, 163, 0.626), rgba(210, 96, 166, 0.404));;
    border-radius: 50%;
    margin: 15px;
}

.collab-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.coll {
    margin: 20px;
    max-width: 30rem;
}

.collab-title{
    padding: 20px;
}

.card-body > h6{
    padding: 10px;
}