.nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(37, 37, 37);
}

.navButton{
    font-family:'Courier New', Courier, monospace;
    color: white;
    border: none;
    padding: 10px;
    margin: 0.5em;
    background-color: Transparent;
    padding: 10px 20px;
}

.endBtn {
    padding-right: 10em;
}

 button:hover{
    cursor: pointer;
    color: #ffc400;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } 