.App {
  text-align: center;
  font-family: consolas;
}


.special {
  background-image: url("../src/images/bg/4.webp");
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
}
.card {
  box-shadow: 0 10px 10px rgb(174, 173, 173);
}

.HomePage{
  background-image: url("./images/bg/3.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%; 
  min-height: 95vh;

} 

.homeTitle {
  font-size: 100px;
  padding-top: 30vh;
}

.ProfileCard img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}